# LaTeX files
/*.aux
/*.log
/*.toc
/*.tex
/abstract/*.tex
/templates/eisvogel.template.tex

# Generated output that doesn't need versioning
*.pdf
*.odt
*.old

# Include PDF from documents directory
!/documents/*.pdf
